/tarea3/Arbol/nbproject/private/
/tarea3/arbol/nbproject/private/
/tarea3/arbol/build/
/tarea3/puta/nbproject/private/
/tarea3/puta/build/
/tarea3/implementacion_arbol/nbproject/private/
*.class
/bin/
/build/
